<h3>Log in here</h3>

<form action='/sessions' method='POST'>
<input type="text" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Log in">
</form>