<h3>Place your order here</h3>

<form action='/orders' method='POST'>
<h4>Flavors</h4>
<input type="checkbox" name="cookie" value="chocolate_chip">Chocolate chip<input type="text" name="number"><br>
<input type="checkbox" name="cookie" value="oatmeal_raisin">Oatmeal raisin<input type="text" name="number"><br>
<input type="checkbox" name="cookie" value="salted_caramel">Salted caramel<input type="text" name="number"><br>
<input type="checkbox" name="cookie" value="triple_chocolate">Triple chocolate<input type="text" name="number"><br>
<input type="checkbox" name="cookie" value="turtle">Turtle<input type="text" name="number"><br>
<input type="checkbox" name="cookie" value="nutella">Nutella shortbread sandwich<input type="text" name="number"><br>
<input type="submit" value="Gimme">
</form>
