<div class="slider">
    <ul class="slides">
      <li>
        <img src="caramel_chocolate_chip.jpg"> 
        <div class="caption center-align">
          <h2>Cookiemergency</h2>
          <h4 class="light grey-text text-lighten-3">Because desperate times call for desperate measures.</h4>
        </div>
      </li>
      <li>
        <img src="turtle_cookie.jpg">
        <div class="caption left-align">
          <h2>Cookiemergency</h2>
          <h4 class="light grey-text text-lighten-3">Because Trump is going to get us all killed.</h4>
        </div>
      </li>
      <li>
        <img src="melty_cookie.jpg">
        <div class="caption right-align">
          <h2>Cookiemergency</h2>
          <h4 class="light grey-text text-lighten-3">Because cookies are delicious.</h4>
        </div>
      </li>
      <li>
        <img src="caramel_cookie.jpg">
        <div class="caption center-align">
          <h2>Cookiemergency</h2>
          <h4 class="light grey-text text-lighten-3">Because melty.</h4>
        </div>
      </li>
    </ul>
  </div>
